# Sistema
Thumbs.db
Desktop.ini

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz

# Repositorios/datos externos clonados para clase
TEORÍA_DE_APRENDIZAJE_DE_MÁQUINA/curso_IA_CHEC/

# Respaldos locales
TEORÍA_DE_APRENDIZAJE_DE_MÁQUINA/_backups/
